html{
    background-color: #FF9843;
}

#featuredrecipes{
    margin:"10%"
}

#smallbox{
    height: 35pt;
    width: 35pt;
    border-radius: 20%;
}

@media only screen and (max-width: 600px) {
    .image-link {
      max-width: 80%; 
      margin: 0 auto; 
    }
  }
